<div
  class="bg-gray-800 flex flex-col items-center justify-center p-4 py-6 text-white"
>
  <div
    class="flex flex-col items-center justify-center pt-2 pb-4 border-b-1 border-b-gray-600 w-80 last:border-b-0 md:w-1/2 md:pt-5 md:pb-6"
  >
    <img
      src="img/logo/fullPP.svg"
      class="rounded-full h-30 border-8 border-black md:h-40 md:border-10"
    />
    <p class="text-xl md:text-4xl md:mt-5">Thomas Mafille / KoRIOz675</p>
    <a
      href="https://maps.app.goo.gl/FKHjj5g9ncRL1qzr9"
      target="_blank"
      class="text-fuchsia-500 m-1 md:text-xl"
      ><i class="fa fa-fw fa-location-dot text-fuchsia-500"></i> Versailles,
      France</a
    >
    <a href="mailto:thomas@mafille.net" class="m-1 text-fuchsia-500 md:text-xl"
      >thomas&#64;mafille.net</a
    >
  </div>
  <div
    class="flex flex-col items-center justify-center pt-2 pb-4 border-b-1 border-b-gray-600 w-80 last:border-b-0 md:w-1/2 md:pt-5 md:pb-6"
  >
    <p class="text-3xl md:text-4xl">Summary</p>
    <p class="m-1 text-center md:text-xl">
      Hello, I’m a computer engineering student.
    </p>
  </div>
  <div
    class="flex flex-col items-center justify-center pt-2 pb-4 border-b-1 border-b-gray-600 w-80 last:border-b-0 md:w-1/2 md:pt-5 md:pb-6"
  >
    <p class="text-3xl md:text-4xl">Resume PDF Download</p>
    <div class="flex flex-row items-center justify-center">
      <a
        href="MafilleThomasResumeEN.pdf"
        target="_blank"
        class="m-1 text-fuchsia-500 md:text-xl"
        >Download EN
      </a>
      <p class="md:text-xl">ㅤ/ㅤ</p>
      <a
        href="MafilleThomasResumeFR.pdf"
        target="_blank"
        class="m-1 text-fuchsia-500 md:text-xl"
        >Download EN
      </a>
    </div>
  </div>
  <div
    class="flex flex-col items-center justify-center pt-2 pb-4 border-b-1 border-b-gray-600 w-80 last:border-b-0 md:w-1/2 md:pt-5 md:pb-6"
  >
    <p class="text-3xl md:text-4xl">Software Proficiency</p>
    <div class="flex flex-wrap items-center justify-center mt-2">
      <div class="flex flex-row m-3 ml-3 mr-3">
        <img src="img/software/Photoshop.svg" class="h-10" />
      </div>
      <div class="flex flex-row m-3 ml-3 mr-3">
        <img src="img/software/Canva.svg" class="h-10" />
      </div>
      <div class="flex flex-row m-3 ml-3 mr-3">
        <img src="img/software/vsc.svg" class="h-10" />
      </div>
      <div class="flex flex-row m-3 ml-3 mr-3">
        <img src="img/software/github.svg" class="h-10" />
      </div>
      <div class="flex flex-row m-3 ml-3 mr-3">
        <img src="img/software/Aseprite.svg" class="h-10" />
      </div>
    </div>
  </div>
  <div
    class="flex flex-col items-center justify-center pt-2 pb-4 border-b-1 border-b-gray-600 w-80 last:border-b-0 md:w-1/2 md:pt-5 md:pb-6"
  >
    <p class="text-3xl md:text-4xl">Programming Skills</p>
    <div class="flex flex-wrap items-center justify-center mt-2">
      <div class="flex flex-row m-1 ml-3 mr-3">
        <img src="img/prog/angular.svg" class="h-10" />
      </div>
      <div class="flex flex-row m-3 ml-3 mr-3">
        <img src="img/prog/html.svg" class="h-10" />
      </div>
      <div class="flex flex-row m-3 ml-3 mr-3">
        <img src="img/prog/css.svg" class="h-10" />
      </div>
      <div class="flex flex-row m-3 ml-3 mr-3">
        <img src="img/prog/java.svg" class="h-10" />
      </div>
      <div class="flex flex-row m-3 ml-3 mr-3">
        <img src="img/prog/markdown.svg" class="h-10" />
      </div>
      <div class="flex flex-row m-3 ml-3 mr-3">
        <img src="img/prog/mysql.svg" class="h-10" />
      </div>
      <div class="flex flex-row m-3 ml-3 mr-3">
        <img src="img/prog/pygame.svg" class="h-10" />
      </div>
      <div class="flex flex-row m-3 ml-3 mr-3">
        <img src="img/prog/python.svg" class="h-10" />
      </div>
      <div class="flex flex-row m-3 ml-3 mr-3">
        <img src="img/prog/tailwindcss.svg" class="h-10" />
      </div>
    </div>
  </div>
  <div
    class="flex flex-col items-center justify-center pt-2 pb-4 border-b-1 border-b-gray-600 w-80 last:border-b-0 md:w-1/2 md:pt-5 md:pb-6"
  >
    <p class="text-3xl md:text-4xl">Projects</p>
    <ul class="flex flex-col items-center justify-center mt-2">
      <li
        class="flex flex-col items-center justify-center py-4 border-b-1 border-b-gray-600 last:pb-0 last:border-b-0 md:max-w-xl md:w-full md:justify-normal md:flex-row"
      >
        <img src="img/prog/angular.svg" class="h-10 mb-5 md:h-20 md:mb-0" />
        <div class="ml-3 overflow-hidden md:ml-5">
          <p
            class="text-lg border-1 border-gray-400 rounded-2xl p-1 w-80 text-center md:w-90"
          >
            March 2024 - Today
          </p>
          <p class="text-sm text-justify mt-2 md:text-lg md:mt-3">
            I updated this website with Angular and TailwindCSS.
          </p>
        </div>
      </li>
      <li
        class="flex flex-col items-center justify-center py-4 border-b-1 border-b-gray-600 last:pb-0 last:border-b-0 md:max-w-xl md:w-full md:justify-normal md:flex-row"
      >
        <img src="img/project/LogoCBSM.svg" class="h-10 mb-5 md:h-20 md:mb-0" />
        <div class="ml-3 overflow-hidden md:ml-5">
          <p
            class="text-lg border-1 border-gray-400 rounded-2xl p-1 w-80 text-center md:w-90"
          >
            May 2024 - Today
          </p>
          <p class="text-sm text-justify mt-2 md:text-lg md:mt-3">
            Creation and maintenance of the CBSM Consult website (created with
            HTML, CSS, JS).
          </p>
          <a
            href="https://cbsm.eu/"
            target="_blank"
            class="text-fuchsia-500 after:content-['_↗']"
            >cbsm.eu</a
          >
        </div>
      </li>
      <li
        class="flex flex-col items-center justify-center py-4 border-b-1 border-b-gray-600 last:pb-0 last:border-b-0 md:max-w-xl md:w-full md:justify-normal md:flex-row"
      >
        <img src="img/prog/html.svg" class="h-10 mb-5 md:h-20 md:mb-0" />
        <div class="ml-3 overflow-hidden md:ml-5">
          <p
            class="text-lg border-1 border-gray-400 rounded-2xl p-1 w-80 text-center md:w-90"
          >
            February 2024 - December 2024
          </p>
          <p class="text-sm text-justify mt-2 md:text-lg md:mt-3">
            I made this website using HTML, CSS and a bit of JavaScript.
          </p>
        </div>
      </li>
      <li
        class="flex flex-col items-center justify-center py-4 border-b-1 border-b-gray-600 last:pb-0 last:border-b-0 md:max-w-xl md:w-full md:justify-normal md:flex-row"
      >
        <img src="img/prog/python.svg" class="h-10 mb-5 md:h-20 md:mb-0" />
        <div class="ml-3 overflow-hidden md:ml-5">
          <p
            class="text-lg border-1 border-gray-400 rounded-2xl p-1 w-80 text-center md:w-90"
          >
            February 2023 - June 2023
          </p>
          <p class="text-sm text-justify mt-2 md:text-lg md:mt-3">
            I made with another student an RPG in Python for a school project.
            We used PyGame for all the visual parts. Systems implemented:
            enemies waves, shop, character health and regeneration.
          </p>
        </div>
      </li>
      <li
        class="flex flex-col items-center justify-center py-4 border-b-1 border-b-gray-600 last:pb-0 last:border-b-0 md:max-w-xl md:w-full md:justify-normal md:flex-row"
      >
        <img src="img/project/RPGMVX.svg" class="h-10 mb-5 md:h-20 md:mb-0" />
        <div class="ml-3 overflow-hidden md:ml-5">
          <p
            class="text-lg border-1 border-gray-400 rounded-2xl p-1 w-80 text-center md:w-90"
          >
            September 2020 - November 2022
          </p>
          <p class="text-sm text-justify mt-2 md:text-lg md:mt-3">
            I made small games using RPG Maker (VX and MV).
          </p>
        </div>
      </li>
    </ul>
  </div>
  <div
    class="flex flex-col items-center justify-center pt-2 pb-4 border-b-1 border-b-gray-600 w-80 last:border-b-0 md:w-1/2 md:pt-10 md:pb-10"
  >
    <p class="text-3xl md:text-4xl">Experiences</p>
    <ul class="flex flex-col items-center justify-center mt-2">
      <p class="text-2xl flex justify-center md:text-2xl">Clubs</p>
      <li
        class="flex flex-col items-center justify-center py-4 border-b-1 border-b-gray-600 last:pb-0 last:border-b-0 md:max-w-xl md:w-full md:justify-normal md:flex-row"
      >
        <img src="img/club/ludisep.svg" class="h-10 mb-5 md:h-20 md:mb-0" />
        <div class="ml-3 overflow-hidden md:ml-5">
          <p
            class="text-lg border-1 border-gray-400 rounded-2xl p-1 w-80 text-center md:w-90"
          >
            September 2024 - July 2025
          </p>
          <p class="text-sm text-justify mt-2 md:text-lg md:mt-3">
            LudIsep<br />ㅤ<i>President</i><br />Organization of new events in
            addition of the old ones. Creation of the Warhammer team. Team
            Management.
          </p>
        </div>
      </li>
      <li
        class="flex flex-col items-center justify-center py-4 border-b-1 border-b-gray-600 last:pb-0 last:border-b-0 md:max-w-xl md:w-full md:justify-normal md:flex-row"
      >
        <img src="img/club/odm.svg" class="h-10 mb-5 md:h-20 md:mb-0" />
        <div class="ml-3 overflow-hidden md:ml-5">
          <p
            class="text-lg border-1 border-gray-400 rounded-2xl p-1 w-80 text-center md:w-90"
          >
            September 2024 - July 2025
          </p>
          <p class="text-sm text-justify mt-2 md:text-lg md:mt-3">
            Ordre du Malt<br />ㅤ<i>President of the creation team</i
            ><br />Creation team management. Creation of the club's visuals.
          </p>
        </div>
      </li>
      <li
        class="flex flex-col items-center justify-center py-4 border-b-1 border-b-gray-600 last:pb-0 last:border-b-0 md:max-w-xl md:w-full md:justify-normal md:flex-row"
      >
        <img src="img/club/igc.svg" class="h-10 mb-5 md:h-20 md:mb-0" />
        <div class="ml-3 overflow-hidden md:ml-5">
          <p
            class="text-lg border-1 border-gray-400 rounded-2xl p-1 w-80 text-center md:w-90"
          >
            September 2023 - July 2025
          </p>
          <p class="text-sm text-justify mt-2 md:text-lg md:mt-3">
            Isep Gaming Club<br />ㅤ<i>Creation team member</i><br />Creation of
            the club's visuals. See more on the Creation page of the website.
          </p>
        </div>
      </li>
      <li
        class="flex flex-col items-center justify-center py-4 border-b-1 border-b-gray-600 last:pb-0 last:border-b-0 md:max-w-xl md:w-full md:justify-normal md:flex-row"
      >
        <img src="img/club/ludisep.svg" class="h-10 mb-5 md:h-20 md:mb-0" />
        <div class="ml-3 overflow-hidden md:ml-5">
          <p
            class="text-lg border-1 border-gray-400 rounded-2xl p-1 w-80 text-center md:w-90"
          >
            September 2024 - July 2024
          </p>
          <p class="text-sm text-justify mt-2 md:text-lg md:mt-3">
            LudIsep<br />ㅤ<i>President of the Trading Card game team</i
            ><br />Creation team management. Creation of the club's visuals.
          </p>
        </div>
      </li>
    </ul>
  </div>
  <div
    class="flex flex-col items-center justify-center pt-2 pb-4 border-b-1 border-b-gray-600 w-80 last:border-b-0 md:w-1/2 md:pt-10 md:pb-10"
  >
    <ul class="flex flex-col items-center justify-center mt-2">
      <p class="text-2xl flex justify-center">Background</p>
      <li
        class="flex flex-col items-center justify-center py-4 border-b-1 border-b-gray-600 last:pb-0 last:border-b-0 md:max-w-xl md:w-full md:justify-normal md:flex-row"
      >
        <img
          src="img/xp/isep.svg"
          class="h-10 mb-5 md:h-20 md:mb-0 md:max-w-25 md:w-full"
        />
        <div class="ml-3 overflow-hidden md:ml-5">
          <p
            class="text-lg border-1 border-gray-400 rounded-2xl p-1 w-80 text-center md:w-90"
          >
            September 2024 - July 2027
          </p>
          <p class="text-sm text-justify mt-2 md:text-lg md:mt-3">
            ISEP, Institut Supérieur d'Électronique de Paris<br />ㅤ<i
              >Master of Computer Engineering</i
            ><br />Computer engineering degree in France. Full english curses.
          </p>
        </div>
      </li>
      <li
        class="flex flex-col items-center justify-center py-4 border-b-1 border-b-gray-600 last:pb-0 last:border-b-0 md:max-w-xl md:w-full md:justify-normal md:flex-row"
      >
        <img
          src="img/xp/aep.svg"
          class="h-10 mb-5 md:h-20 md:mb-0 md:max-w-25 md:w-full"
        />
        <div class="ml-3 overflow-hidden md:ml-5">
          <p
            class="text-lg border-1 border-gray-400 rounded-2xl p-1 w-80 text-center md:w-90"
          >
            June 1st 2024 - July 31st 2024
          </p>
          <p class="text-sm text-justify mt-2 md:text-lg md:mt-3">
            AEP, Assurance Epargne Pension<br />Vacation assistant. Archiving
            and letters' sorting. Help in the creation of new procedures.
          </p>
        </div>
      </li>
      <li
        class="flex flex-col items-center justify-center py-4 border-b-1 border-b-gray-600 last:pb-0 last:border-b-0 md:max-w-xl md:w-full md:justify-normal md:flex-row"
      >
        <img
          src="img/xp/uwtsd.svg"
          class="h-10 mb-5 md:h-20 md:mb-0 md:max-w-25 md:w-full"
        />
        <div class="ml-3 overflow-hidden md:ml-5">
          <p
            class="text-lg border-1 border-gray-400 rounded-2xl p-1 w-80 text-center md:w-90"
          >
            January 2024 - July 2024
          </p>
          <p class="text-sm text-justify mt-2 md:text-lg md:mt-3">
            UWTSD, University of Wales Trinity Saint David<br />Semester abroad
            with computer forensics classes, networking classes and 3D creation
            and design classes.
          </p>
        </div>
      </li>
      <li
        class="flex flex-col items-center justify-center py-4 border-b-1 border-b-gray-600 last:pb-0 last:border-b-0 md:max-w-xl md:w-full md:justify-normal md:flex-row"
      >
        <img
          src="img/xp/isep.svg"
          class="h-10 mb-5 md:h-20 md:mb-0 md:max-w-25 md:w-full"
        />
        <div class="ml-3 overflow-hidden md:ml-5">
          <p
            class="text-lg border-1 border-gray-400 rounded-2xl p-1 w-80 text-center md:w-90"
          >
            September 2022 - July 2024
          </p>
          <p class="text-sm text-justify mt-2 md:text-lg md:mt-3">
            ISEP, Institut Supérieur d'Électronique de Paris<br />ㅤ<i
              >CII Anglophone</i
            ><br />Bachelor degree in France in numeric and electronics. Full
            english curses.
          </p>
        </div>
      </li>
      <li
        class="flex flex-col items-center justify-center py-4 border-b-1 border-b-gray-600 last:pb-0 last:border-b-0 md:max-w-xl md:w-full md:justify-normal md:flex-row"
      >
        <img
          src="img/xp/b2c.svg"
          class="h-10 mb-5 md:h-20 md:mb-0 md:max-w-25 md:w-full"
        />
        <div class="ml-3 overflow-hidden md:ml-5">
          <p
            class="text-lg border-1 border-gray-400 rounded-2xl p-1 w-80 text-center md:w-90"
          >
            2009 - July 2022
          </p>
          <p class="text-sm text-justify mt-2 md:text-lg md:mt-3">
            Primary and secondary school in France.<br />French baccalaureate in
            2022 with Math and Physics specialties.
          </p>
        </div>
      </li>
    </ul>
  </div>
</div>
