<app-back-creation-section></app-back-creation-section>
<div class="bg-gray-800 flex flex-col items-center justify-center">
  <div
    class="flex flex-col justify-center items-center w-80 border-b-2 border-gray-700 pb-4 md:w-1/2"
  >
    <img src="img/creations/LANubis-2024-01.svg" class="w-70 rounded-xl" />
  </div>
  <div class="flex flex-col justify-center items-center w-80 md:w-1/2">
    <h1 class="text-3xl text-white mt-4 text-center md:text-4xl">LANubis</h1>
    <p class="text-gray-200 text-lg mt-5 text-justify mb-3">
      On Saturday, 8th of June 2024, ISEP Gaming Club, one of the associations
      I'm in, made the 14th version of their Gaming LAN. My job for this event
      was to create the Instagram posts to promote the event. Because the event
      was called LANubis (a contraction between the word LAN and the Egyptian
      god Anubis), the theme of the event was 'Egyptian'. So I created a
      background representing a dune with a night sky.
    </p>
    <p class="text-gray-200 text-lg mt-5 text-justify mb-3">
      I made this image using Adobe Illustrator for the dune and Canva for the
      stars in the sky. Going from this, I made the version with the information
      on it. You can see the final version on the Instagram page of ISEP Gaming
      Club.
    </p>
    <div class="flex flex-col items-center justify-center md:flex-row md:mt-4">
      <div
        class="text-white text-xl flex flex-col items-center justify-center mb-4 md:mr-5"
      >
        <img
          src="img/creations/LANubis-2024-01.svg"
          class="w-80 rounded-xl mb-4 md:w-120"
        />
      </div>
      <div
        class="text-white text-xl flex flex-col items-center justify-center mb-4 md:ml-5"
      >
        <img
          src="img/creations/LANubis-2024-02.svg"
          class="w-80 rounded-xl mb-4 md:h-120 md:w-auto"
        />
      </div>
    </div>
  </div>
</div>
